@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.shadow-card{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 1000;
    animation: slideIn 0.5s ease, fadeOut 0.5s ease 4s;
    max-width: 300px;
    word-wrap: break-word;
}

.toast-error {
  background-color: #ff4d4d;
}

.toast-success {
  background-color: #4caf50;
}

/* Slide-in animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade-out animation */
@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}
